:root {
	--container-width: 1443px;
	--container-padding: 15px;

	--font-main: 'Arial', sans-serif;
	--font-accent: 'Inter', sans-serif;
	--font-titles: var(--font-accent);

	--page-bg: #fff;
	--color-secondary: #673a44;
	--color-small: #000;
	--color-big: #25090f;
	--text-color: #575757;
	--accent: #843546;
	--link-color: #fff;
}
